*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right:20px;
    position: relative;
    right: 440px;
    

}

a{
    text-decoration: none;
    color: #555;
    font-family: 'poppins',sans-serif;
    padding: 0 10px;
 
}
a:hover{
    color: rgb(82, 171, 255);

}
a::after{
    content: "";
    position: absolute;
    background-color: #9cbcf4;
    height: 5px;
    width: 0;
    border-radius: 9px;
    left: 0;
    bottom: -10px;
    transition: 0.7s;
}
a:hover::after{
    width: 100%;
}

p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 15px;
    padding-right:15px ;
   
    
}
.row{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: space-around; 
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
    position: relative;
    bottom: 120px;
    }
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    font-family: "Touche W03 Medium";
}


.btn{
    padding: 10px;
    margin-top: 62px;
    width: 130px;
    border-radius: 9px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: sans-serif;
    border-color: #9cbcf4;
    font-size: 14px;
    background-color: #9cbcf4;
    transition: 0.9s;
   
}


.btn:hover{
   color: black;
   background: linear-gradient(336deg, rgba(156,188,244,1) 0%, rgba(210,210,255,1) 35%, rgba(160,180,244,1) 100%);
}

   
h3{
    color: rgba(156,188,244,1);
    font-family: "FSP DEMO - Pontiac Regular";
    font-size: 21px;
}
.bi.bi-cart3{
    font-size: 30px;
    position: relative;
    bottom: 13px;
    right: 30px;
    cursor: pointer;

}
.bi-list{
    font-size: 40px;
    cursor: pointer;
}
.bi-x-lg{
    font-size: 150%;
    cursor: pointer;
    padding:3%; 
}
.bi.bi-bag{
    font-size: 30px;
    position: relative;
    bottom: 13px;
    right: 10px;
    cursor: pointer;

}
.bi.bi-arrow-right{
    font-size: 40px;
    position: relative;
    top: 210px;
    right: 10px;
    cursor: pointer;
    color: hsl(218, 100%, 67%);
    transition: 0.5s;
}
.bi.bi-arrow-left{
    font-size: 40px;
    position: relative;
    right: 100px;
    top: 210px;
    cursor: pointer;
    color: #555;
    transition: 0.5s;
}
.bi.bi-arrow-right:hover{
    font-size: 50px;
}
.bi.bi-arrow-left:hover{
    font-size: 50px;
}
.bi.bi-person{
    font-size: 32px;
    position: relative;
    bottom: 13px;
    right: 2px;
    cursor: pointer;
}

.kolo{
    background: radial-gradient(#fff,#a5c6ff); 
    
}

.has-search .form-control {
    padding-left: 2.375rem;
    position: relative;
    bottom: 20px;
    height: 30px; ;
    border-radius: 20px;
    border-color: #9cbcf4;
    background-color: #e3eaff;
    transition: 0.3s;
    
}
.has-search .form-control:hover{
background-color: #9cbcf4;

}
.bi.bi-search{
    cursor: pointer;
    color: #9cbcf4;
    position: relative;
    padding: 12px;
    right: 206px;
    bottom: 19px;
    }
.man{
    background-color: #e3eaff;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 30%;

   
}
.page2{
    padding-left: 12%;
    padding-top: 7%;
    display: flex;
   flex-direction: row;
}

.contaner{
 
    padding-left: 2%;
    
   
}
.upper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #e3eaff;
   

}
.downer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #e3eaff;
    margin-top: 10%;
    
}
.bi-list{
    display: none;
}
@media(max-width:800px){
    .hideOnMobile{
        display: none;
    }
    .bi-list{
        display: block;
    }
    .contaner{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0.5rem;
        padding-right:0.5rem;
    }
    
}
@media(max-width:1185px) {
    .col-2 h1{
        font-size: 1.5rem;
    }
    .col-1{
        width: 20%;
    }
}
@media(max-width:405px) {
  .col-1{
    display: none;
  }
  .bi-arrow-left{
    display: none;
  }
  .bi-arrow-right{
    display: none;
  }
   h3{
    font-size: 0.8rem;
    padding-top: 20%;
}
}


.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(167, 169, 255, 0.253);
    box-shadow: -0px 0 10px black;
    display: none;
     flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(10px);

}
.slidebar ol{
    width: 100%;
}
.slidebar a{
    width: 100%;
    
    
}
ol{
   
    list-style-type: none;
    padding-top: 2%;
}
ol a{
   display: flex;
   width: 100%;
   padding-top: 50%;
   padding: 20%;
   font-size: 20px
}
ol a:hover{
    width: 800%;
    background-color:#025fff1c;
    color: white;
  
}

